*{
    font-family: Verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Menu base style */
nav{
    background: #333;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a:hover{
    background-color: #555;
}

/* 08. social links icon style */
a.fb{
    background: url(fb.png) no-repeat center;
    background-size: 80%;
}

a.tw{
    background: url(tw.png) no-repeat center;
    background-size: 80%;
}

/* 08. make fb and tw text disappear */
.social a{
    text-indent: -10000px ;
}

/* 08. after striping out fb/tw text, icons are too small, to make icon bigger */
.social{
    max-width: 80px;
}

nav ul.social{
    flex: 1 1 0;
}

/* 08. on smaller screen, move fb/tw icons to the center of each row */
.social{
    margin: 0 auto;
}

/* 08. in order to list fb icon and tw icon in one row, need to make 
   ul.social display as flex as well */
nav ul.social{
    display: flex;
}

/* 08. icons are too samll, to make them bigger */
nav ul.social li{
    flex: 1 1 0;
}



/* Grid vs flex base styles */
#blocks{
    margin: 20px;
}

article{
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

article h2{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}



/* Flexbox style, only when screen is above 768px, apply flexbox property */
@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        flex: 1 1 0;
    }

    /* 08. in order to put main links (4) and social links (2) in one row, 
           make nav a flex-container */
    nav{
        display: flex;
        justify-content: space-between;
    }

    .social{
        margin: 0;
    }


    /* screen is above 768px, style section differently */
    #blocks{
        display: flex;

        /* important to set flex-wrap: wrap; otherwise 6 article
           will still list in one row (overflow) and need to scrool to see it */
        flex-wrap: wrap;

        /* use 4% left free space to style article */
        justify-content: space-between;
    }

    article{
        flex: 0 1 32%;
        /* 0 grow, 1 shrink, 32% flex basis, still 4% free space left */

        /* by transition, animate the state changing from flex-basis A to B,
           gain better visual effect */
        transition: flex-basis 0.2s linear;
    }

    /* when stack is clicked, style article differently */
    article.stack{
        flex: 0 1 100%;
    }





}

